<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= t("user_mailer.notify_on_contact_creation.salutation") %> <%= @email %></h1>
    <p>
      <%= t("user_mailer.notify_on_contact_creation.body.line1") %>
      <%= t("user_mailer.notify_on_contact_creation.body.line2") %> <%= @contact_info.first_name %>
      <%= t("user_mailer.notify_on_contact_creation.body.line3") %> <%= @contact_info.last_name %>
      <%= t("user_mailer.notify_on_contact_creation.body.line4") %> <%= @contact_info.email %>
      <%= t("user_mailer.notify_on_contact_creation.body.line5") %> <%= @contact_info.phone_number %>
    </p>
  </body>
</html>